html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #da727e;
  min-height: 100%;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}